/* Erik Petersen Week 2 Weekend Project: View-Mode-Switch */

/*******************************************************************
MEDIA QUERIES SECTION
*******************************************************************/

@media only screen and (min-width: 156px) {
  header {
    width: 72%;
    margin:  2.5em auto 0;
    padding-bottom: 1em;
  }

  h1 {
    font-size: 2.125em;
    text-align: center;
    margin-bottom: 1em;
  }

  /* NAV SECTION */
  nav {
    text-align: center;
  }

  nav li {
    display: inline-block;
    position: relative;
  }

  nav a {
    box-sizing: border-box;
    width: 2.5em;
    height: 2.5em;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    background: #fff;
    border: .25em solid #47a3da;
    border-radius: 50%;
    padding:  .3em .5em;
  }

  nav a:hover {
    background: #47a3da;
  }

  .tear-drop {
    padding: 0 .12em;
  }

  nav span {
    color: #47a3da;
  }

  nav span:hover {
    color: #fff;
  }

  /* UNORDERED LIST */
  .wine-list-ul li {
    box-sizing: border-box;
    width: 99%;
    text-align: center;
    margin-top: .5em;
    padding: 2em;
    display: inline-block;
    vertical-align: top;
  }
} /* end media query 156px */

@media only screen and (min-width: 638px) {
  header {
    width: 72%;
    margin:  2.5em auto 0;
    padding-bottom: 1em;
  }

  h1 {
    font-size: 2.125em;
    text-align: center;
    margin-bottom: 1em;
  }

  /* NAV SECTION */
  nav {
    text-align: center;
  }

  nav li {
    display: inline-block;
    position: relative;
  }

  nav a {
    box-sizing: border-box;
    width: 2.5em;
    height: 2.5em;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    background: #fff;
    border: .25em solid #47a3da;
    border-radius: 50%;
    padding:  .3em .5em;
  }

  nav a:hover {
    background: #47a3da;
  }

  .tear-drop {
    padding: 0 .12em;
  }

  nav span {
    color: #47a3da;
  }

  nav span:hover {
    color: #fff;
  }

  /* UNORDERED LIST */
  .wine-list-ul li {
    box-sizing: border-box;
    width: 49.5%;
    text-align: center;
    margin-top: .5em;
    padding: 2em;
    display: inline-block;
    vertical-align: top;
  }
} /* end media query 638px */

@media only screen and (min-width: 940px) {
  header {
    width: 72%;
    margin:  2.5em auto 0;
    padding-bottom: 2em;
  }

  h1 {
    font-size: 2.125em;
    float: left;
  }

  /* NAV SECTION */
  nav {
    float: right;
  }

  nav li {
    display: inline-block;
    position: relative;
  }

  nav a {
    box-sizing: border-box;
    width: 2.5em;
    height: 2.5em;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 400;
    background: #fff;
    border: .25em solid #47a3da;
    border-radius: 50%;
    padding:  .3em .5em;
  }

  nav a:hover {
    background: #47a3da;
  }

  .tear-drop {
    padding: 0 .12em;
  }

  nav span {
    color: #47a3da;
  }

  nav span:hover {
    color: #fff;
  }

  /* UNORDERED LIST */
  .wine-list-ul li {
    box-sizing: border-box;
    width: 33%;
    text-align: center;
    margin-top: .5em;
    padding: 2em;
    display: inline-block;
    vertical-align: top;
  }
} /* end media query 940px */

/*******************************************************************
BODY SECTION
*******************************************************************/

body {
  font-family: "Lato", sans-serif;
  color: #47a3da;
}

/*******************************************************************
MAIN SECTION: SELECTING THE VIEW
*******************************************************************/

.main-container {
  width: 72%;
  margin: 3.5em auto;
}

main {
  padding: 1.1em 1.5em 1.5em 1.5em;
  border: .2em solid #47a3da;
}

.view-option {
  text-align: right;
  padding: .5em 0 1.1em 0;
  border-bottom: .2em solid #47a3da;
}

.view-option a {
  font-size: 1.8em;
  padding: 0 .3em;
  margin-right: 0;
}

.hide-grid {
  color: #d0d0d0;
}

/* Initial state for grid icon */
.view-grid {
  color: #47a3da;
}

/* Initial state for list icon */
.hide-list {
  color: #d0d0d0;
}

.view-list {
  color: #47a3da;
}

/*******************************************************************
********************************************************************
********************************************************************
BEGIN GRID LAYOUT
********************************************************************
********************************************************************
*******************************************************************/

.title {
  font-size: 2em;
  font-weight: 700;
  margin: .4em .4em 0;
}

.price {
  font-size: 1.5em;
  color: #c0c0c0;
  margin: .85em 0;
}

li p {
    margin-bottom: 3.25em;
}

.add {
  text-decoration: none;
  vertical-align: bottom;
  color: #fff;
  background:#47a3da;
  padding: .75em 1.3em 1em 1.25em;
}

.add:hover {
  background: #056fa8;
}

.fa-plus-circle {
  box-sizing: border-box;
  padding-right: .5em;
}
