/*******************************************************************
BODY SECTION
*******************************************************************/

body {
  font-family: "Lato", sans-serif;
  color: #47a3da;
}

/*******************************************************************
MAIN SECTION: SELECTING THE VIEW
*******************************************************************/

.main-container {
  width: 72%;
  margin: 0 auto;
}

main {
  padding: 1em;
  border: .2em solid #47a3da;
}

.view-option {
  text-align: right;
  border-bottom: .2em solid #47a3da;
}

.hide-grid {
  color: #d0d0d0;
}

/* Initial state for grid icon */
.view-grid {
  color: #47a3da;
}

/* Initial state for list icon */
.hide-list {
  color: #d0d0d0;
}

.view-list {
  color: #47a3da;
}

/*******************************************************************
********************************************************************
********************************************************************
BEGIN GRID LAYOUT
********************************************************************
********************************************************************
*******************************************************************/

.wine-list-ul li {
  box-sizing: border-box;
  width: 33%;
  text-align: center;
  margin-top: .5em;
  padding: 2em;
  display: inline-block;
  vertical-align: top;
}

/*******************************************************************

*******************************************************************/
