body {
  font-family: "Lato", sans-serif;
  color: #47a3da;
}

.select-grid-view {
  color: #47a3da;
}

.unselect-grid-view {
  color: #d0d0d0;
}

.select-list-view {
  color: #47a3da;
}

.unselect-list-view {
  color: #d0d0d0;
}
