/*******************************************************************
BODY SECTION
*******************************************************************/

body {
  font-family: "Lato", sans-serif;
  color: #47a3da;
}

header {
  width: 72%;
  margin:  2.5em auto 0;
  padding-bottom: 2em;
}

h1 {
  font-size: 2.125em;
  float: left;
}

nav {
  float: right;
}

nav li {
  display: inline-block;
  position: relative;
}

nav a {
  box-sizing: border-box;
  width: 2.5em;
  height: 2.5em;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 400;
  background: #fff;
  border: .25em solid #47a3da;
  border-radius: 50%;
  padding:  .3em .5em;
}

nav a:hover {
  background: #47a3da;
}

.tear-drop {
  padding: 0 .12em;
}

nav span {
  color: #47a3da;
}

nav span:hover {
  color: #fff;
}



/*******************************************************************
MAIN SECTION: SELECTING THE VIEW
*******************************************************************/

.main-container {
  width: 72%;
  margin: 3.5em auto;
}

main {
  padding: 1.1em 1.5em 1.5em 1.5em;
  border: .2em solid #47a3da;
}

.view-option {
  text-align: right;
  padding: .5em 0 1.1em 0;
  border-bottom: .2em solid #47a3da;
}

.view-option a {
  font-size: 1.8em;
  padding: 0 .3em;
  margin-right: 0;
}

.hide-grid {
  color: #d0d0d0;
}

/* Initial state for grid icon */
.view-grid {
  color: #47a3da;
}

/* Initial state for list icon */
.hide-list {
  color: #d0d0d0;
}

.view-list {
  color: #47a3da;
}

/*******************************************************************
********************************************************************
********************************************************************
BEGIN LIST LAYOUT
********************************************************************
********************************************************************
*******************************************************************/

.wine-list-ul li {
  box-sizing: border-box;
  display: block;
  position: relative;
  padding: 2em 0;
}

.bottle-icon {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
}

.title {
  width: 23%;
  box-sizing: border-box;
  font-size: 1.3em;
  font-weight: 700;
  display: inline-block;
  vertical-align: middle;
}

.price {
  width: 10%;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.3em;
  color: #d0d0d0;
}

li p {
  width: 35%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 2.7em;
}

.add {
  width: 10%;
  color: #fff;
  background: #47a3da;
  display: inline-block;
  padding: .6em 1.3em .7em 1.25em;
  vertical-align: middle;
  text-decoration: none;
}

.add:hover {
  background: #056fa8;
}

/*******************************************************************

*******************************************************************/
