/*******************************************************************
BODY SECTION
*******************************************************************/

body {
  font-family: "Lato", sans-serif;
  color: #47a3da;
}

/*******************************************************************
MAIN SECTION: SELECTING THE VIEW
*******************************************************************/

.hide-grid {
  color: #d0d0d0;
}

/* Initial state for grid icon */
.view-grid {
  color: #47a3da;
}

/* Initial state for list icon */
.hide-list {
  color: #d0d0d0;
}

.view-list {
  color: #47a3da;
}

/*******************************************************************
********************************************************************
********************************************************************
BEGIN LIST LAYOUT
********************************************************************
********************************************************************
*******************************************************************/

.move-me {
  text-align: right;
}

/*******************************************************************

*******************************************************************/
